@import "loaders";

.nav {
    z-index: 999999;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: $bg;
    color: $primary-font;

    &igation {
        transition: $transition-mid;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: 1.5rem 1rem;

        &-logo {
            flex: 0 0 3.5rem;
            height: 3.5rem;
            position: relative;
            &-img {
                position: absolute;
                width: 3.5rem;
                opacity: 0;
            }
        }

        &-toggle {
            display: none;
            flex: 1;
            justify-content: flex-end;
            align-items: center;

            &-btn {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-wrap: wrap;
                background: none;
                border: none;
                cursor: pointer;

                &:focus, &:active {
                    outline: none;
                }

                .line {
                    flex: 0 1 100%;
                    width: 0.5rem;
                    height: 0.125rem;
                    background: $primary-font;
                    margin: 0.15rem 0;
                }
            }
        }

        &-links {
            flex: 1;

            &-mobile-header {
                display: none;
                justify-content: flex-start;
                align-items: center;
                padding: 1rem;

                &-logo {
                    flex: 1;
                    position: relative;
                    height: 2.5rem;

                    &-img {
                        position: absolute;
                        width: 2.5rem;
                        opacity: 0;
                    }
                }

                &-action {
                    &-btn {
                        background: none;
                        border: none;
                        cursor: pointer;

                        &:focus, &:active {
                            outline: none;
                        }

                        i {
                            color: $primary-font;
                            font-weight: 100;
                            font-size: 1.5rem;
                        }
                    }
                }
            }

            &-list {
                padding: 0;
                margin: 0;
                list-style-type: none;
                display: flex;
                align-items: center;
                justify-content: flex-end;

                &-item {
                    margin: 0 1rem;

                    & > a {
                        transition: $transition-fast;
                        color: $secondary-font;
                        font-weight: 400;
                        text-decoration: none;

                        &:hover {
                            transition: $transition-fast;
                            color: $primary-font;
                        }

                        &.active {
                            transition: $transition-fast;
                            font-weight: 600;
                            color: $primary-font;
                        }
                    }
                    &:last-child{
                        margin: 0 0 0 1rem;
                    }
                }
            }
        }
    }

    &.scrolled {
        .navigation {
            transition: $transition-mid;
            padding: 0.5rem 1rem;
        }
    }

    @media screen and (max-width: 1100px) {
        &igation {
            padding: 1rem 1rem;

            &-logo {
                flex: 0 0 2.5rem;
                height: 2.5rem;
                &-img {
                    opacity: 0;
                    width: 2.5rem;
                }
            }

            &-toggle {
                display: flex;
            }

            &-links {
                transition: $transition-mid;
                transform: translateX(110%);
                overflow: hidden;
                overflow-y: auto;
                position: fixed;
                z-index: 9999999;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                height: 100vh;
                width: 100%;
                background: $bg;
                padding: 0;

                &-mobile-header {
                    display: flex;
                }

                &-list {
                    padding: 3rem 0;
                    margin: 0;
                    list-style-type: none;
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    flex-wrap: wrap;

                    &-item {
                        flex: 0 1 100%;
                        margin: 0;
                        padding: 1rem;

                        & > a {
                            font-weight: 400;
                            font-size: 1.25rem;
                        }

                        &:last-child{
                            margin: 0;
                        }
                    }
                }

                &.active {
                    transition: $transition-mid;
                    transform: translateX(0);
                }
            }
        }
    }
}

@import "content";

.back-to-top {
    z-index: 9999;
    transition: $transition-mid;
    position: fixed;
    bottom: 6rem;
    right: 2rem;
    transform: translateX(10rem);

    #to-top {
        @include btnDef();
        @include spongy(0.95);
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
        background: $accent;
        box-shadow: $small-shadow;

        & > i {
            color: $black;
            font-size: 1.5rem;
        }
    }

    &.show {
        transition: $transition-mid;
        transform: translateX(0);
    }

    @media screen and (max-width: 1100px) {
        right: 0;
        bottom: 5rem;
        #to-top {
            border-radius: 50% 0 0 50%;
        }
    }
}

.theme {
    z-index: 9999;
    transition: $transition-mid;
    position: fixed;
    bottom: 2rem;
    right: 2rem;

    #theme-switch {
        display: none;
    }

    #theme-switch {
        display: none;
        pointer-events: none;

        & + .theme-label {
            cursor: pointer;

            .theme-label-inner {
                @include spongy(0.95);
                display: flex;
                justify-content: center;
                align-items: center;
                background: $primary-font;
                width: 3rem;
                height: 3rem;
                border-radius: 50%;
                box-shadow: $small-shadow;

                .theme-icon {
                    color: $bg;
                    font-size: 1.5rem;
                    user-select: none;
                }

                .dark-mode {
                    display: block;
                }

                .light-mode {
                    display: none;
                }
            }

        }

        &:checked + .theme-label {
            .theme-label-inner {
                .dark-mode {
                    display: none;
                }

                .light-mode {
                    display: block;
                }
            }
        }
    }

    @media screen and (max-width: 1100px) {
        right: 0;
        bottom: 1rem;
        #theme-switch {
            & + .theme-label {
                .theme-label-inner {
                    border-radius: 50% 0 0 50%;
                }
            }
        }
    }
}

.footer {
    padding: 3rem 1rem;
    background: $black;
    color: $white;

    &-logo {
        &-img {
            text-align: center;
            padding: 0 0 1.5rem 0;
            img{
                width: 5rem;
            }
        }

        &-brand {
            text-align: center;

            img {
                width: 12.5rem;
            }
        }
    }

    &-links {
        padding: 3.5rem 0;

        &-list {
            padding: 0;
            margin: 0;
            list-style-type: none;
            display: flex;
            align-items: center;
            justify-content: center;

            &-item {
                margin: 0 1rem;

                & > a {
                    transition: $transition-fast;
                    color: $white;
                    font-weight: 400;
                    text-decoration: none;

                    &.active {
                        transition: $transition-fast;
                        font-weight: 600;
                    }
                }
            }
        }
    }

    &-social {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 0 2rem 0;

        &-item {
            margin: 0 1.25rem;

            & > a {
                color: $white;
                text-decoration: none;

                & > i {
                    font-size: 1.5rem;
                }
            }
        }
    }

    &-copyright {
        display: flex;
        align-items: center;
        justify-content: center;

        &-created {
            text-align: center;
            opacity: 0.6;
            font-weight: 300;
            font-size: 0.8rem;
            padding: 2.5rem 0;
        }
    }

    @media screen and (max-width: 1100px) {
        padding: 3rem 1rem 7.5rem 1rem;

        &-logo {
            &-img {
                padding: 0 0 1.5rem 0;
                img{
                    width: 3.5rem;
                }
            }

            &-brand {

                img {
                    width: 10rem;
                }
            }
        }

        &-links {
            padding: 2.5rem 0;

            &-list {
                flex-wrap: wrap;

                &-item {
                    flex: 0 1 100%;
                    margin: 1rem;
                    text-align: center;
                }
            }
        }
    }
}

@import "helpers";
